@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

html{
	display: flex;
	flex-direction: column;
}

*{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	font-weight: 400;

}

.container{
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	
}

.menu{
	background-color: #000;
	width: 100%;
	height:70px;
	position: sticky;
	top: 0;
	z-index: 100;
	align-items: center;
}

.logo{
	margin: 15px 20px;
	padding: 0px 15px; 
	position: absolute;
	letter-spacing: 5px;
	font-size: 28px;
	font-family: oswald;
	color: #fff;
	font-weight: 400px;
	font-style: bold;
	text-decoration: none;
}

.logo a{
	text-decoration: none;
	color: #fff;
	font-family: oswald;
}

.logo a:hover{
	color: #fff;
}

.menu ul{
	text-decoration: none;
	float:right;
}

.menu ul li{
	list-style: none;
	display: inline-block;
	margin: 20px;
	margin-right: 40px;
	color: #fff;
}

.menu ul li a{
	text-decoration: none;
	color: #fff;
}

.menu ul #active{
	color: #ff375f;
}

.menu ul #activebtn{
	background-color: #ff375f; 
}

.menu ul li button{
	padding: 4px 10px;
	font-size: 1em;
	display: inline-block;
	background-color: rgba(255,255,255,.5);
	text-decoration: none;
	border: none;
	border-radius: 9px;
	text-align: center;	
	color: #fff;
	cursor: pointer;
}

.menu ul li button:hover{
	background-color: #727272;
}

.checkbtn{
	font-size: 28px;
	color: white;
	padding:20px 15px;
	float: right;
	display: none;

}

#check{
	display: none;
}


@media (max-width: 1080px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  .menu ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #404040;
    top: 70px;
    right: -100%;
    text-align: left;
    transition: all .5s;
  }
  .menu ul li{
    display: block;
    margin: 50px 50px;

    line-height: 30px;
  }
  .menu ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    right: -60%;
  }
}
/*
.container .articles{
	position: relative;
	top: 70px;
}*/

.container .articles{
	display: flex;
	flex-direction: column;
}

.img-slider-container{
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
	/*box-sizing: border-box;*/
}

.img-slider-container .img-slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	float: left;
	animation: animate 20s linear infinite;
	/*color: red;*/
}

.img-slider-container .img-slider .img-slide{
	width: 20%;
	height: 500px;
	float: left;
	position: relative;
}

.img-slider-container .img-slider .img-slide .img-slider-caption{
	position: absolute;
	bottom: 60px;
	left: 60px;
	right: 60px;
	padding: 30px;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box; 
}

.img-slider-container .img-slider .img-slide .img-slider-caption h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 25px;  
}

.img-slider-container .img-slider .img-slide .img-slider-caption p{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	font-family: "Work Sans";

}

/*.img-slider-container .img-slider .img-slide.slide1{
	background: url({{ url_for('static', filename='1.jpg') }});
	background-size: cover;
	background-position: center; 
}*/

@keyframes animate{
	0%
	{
		left: 0;
	}
	20%
	{
		left: 0;
	}
	25%
	{
		left: -100%;
	}
	45%
	{
		left: -100%;
	}
	50%
	{
		left: -200%;
	}
	70%
	{
		left: -200%;
	}
	75%
	{
		left: -300%;
	}
	95%
	{
		left: -300%;
	}
	100%
	{
		left: -400%;
	}
}


#page-divider{
	margin: 0 auto; 
	padding-top: 0;
	padding-bottom: 1.5vh;
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	color: #ff375f;
	letter-spacing: -1px;
}

.home-intro{
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.home-intro h2{
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}

.home-intro p,.home-intro a{
	font-size: 1em;
	padding: 5px;
	text-align: center;
}

.home-intro a:hover{
	color: #ff375f;
}
/*.home-intro{
	position: relative;
	top: 70px;
}*/

.home-why-mnge{
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
	width: 100%;
	background:#d8d6d6;
	margin-bottom: 20px; 
	padding-bottom: 20px;
	box-sizing: border-box;
}

.home-why-mnge h2{
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}

.home-why-mnge p,.home-why-mnge a{
	font-size: 1em;
	padding: 5px;
	text-align: center;
}

.home-why-mnge a:hover{
	color: #ff375f;
}

.login-box{
	padding: 0;
	margin:0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: transparent;
	align-items:center; 

}

.login-box fieldset{
	padding-left: 20px;
	margin:0;
	font-size:2.2em;
	border:none;
	border-left:5px solid rgb(255,55,95);
	color: white; 
}

.login-box h1{
	font-size: 35px;
	font-style: bold;
	font-weight: 700;
	margin-bottom: 20px;
}

.login-box #registerbtn{
	/*align-items: center;*/
	padding: 10px 25px;	
	background: rgba(64,64,64,.5);
	color: white;
	border:none;
	font-size: 20px;
	border-radius: 25px;
	position: relative;
	margin-bottom: 15px;
}

.login-box a{
	text-align: center;
	position: relative;
	font-size: 18px;
	color: #fff;
}

.login-box fieldset input, select{
	width: 25vw;
	padding: 10px;
	height: 50px;
	border:none;
	border-radius: 5px;
	border-bottom: 2px solid rgb(255,95,55);
}

#t-icon{
	font-size: 0.75em;
}

#re-pwd-icon{
	font-size: 0.75em;
}


.txtanim-container{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 100%;
	height: 30vh;
	display: flex;
	overflow: hidden;

}

.txtanim-container div{
	position: relative;
	width: 50%;
	background: #7fffd4;
	overflow: hidden;
}

.txtanim-container div:nth-child(1) h2{
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: transparent;
	left: 100%;
}



.txtanim-container div h2{
	position: absolute;
	white-space: nowrap;
	font-size: 9em;
	font-weight: 900;
	line-height: 30vh;
	color: white;
	animation: txtanim 30s linear infinite;
}

@keyframes txtanim
{
	0%
	{
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(-100%);
	}
}

@media (max-width: 1080px){
	.txtanim-container{
		height: 18vh;
	}
	.txtanim-container div h2{
		line-height: 18vh;
	}
	footer{
		position: sticky;
		bottom: 0;
	}
}

.pricecard-container{
	width: 100%;
	margin: 100px auto;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0 20px;
}

.pricecard-container .pricecard-column{
	width: calc(33.33% - 30px);
	float: left;
	padding: 0 0 20px;
	margin: 0 15px;  
	box-sizing: border-box;
	text-align: center;
	background: #ffffff05;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(0,0,0,.2);
	transition: .5s;

}

.pricecard-container .pricecard-column:hover{
	transform: scale(1.05);
}

.pricecard-container .pricecard-column .pricecard-title{
	background:#68f788;
	padding: 20px 0;
}

.pricecard-container .pricecard-column .pricecard-title .fa{
	color: #fff;
	font-size: 60px;

}

.pricecard-container .pricecard-column .pricecard-title h2{
	margin:0;
	padding: 0;
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;

}

.pricecard-container .pricecard-column .pricecard-price{
	padding:10px;

}

.pricecard-container .pricecard-column .pricecard-price h4{
	margin: 0;
	padding: 0;
	color: #ff375f;
	font-weight: 700;
	font-size: 30px;
}

.pricecard-container .pricecardcolumn .pricecard-price h4 span{
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 900;
	font-size: 60px;

}

.pricecard-container .pricecard-column .pricecard-features ul{
	margin:0;
	padding: 0;

}

.pricecard-container .pricecard-column .pricecard-features ul li{
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(0,0,0,.05);
	font-weight: 300;

}

.pricecard-container .pricecard-column .pricecard-features ul li:last-child{
	border-bottom: none;

}

.pricecard-container .pricecard-column .pricecard-features ul li .fa-check{
	color: #4caf50;

}

.pricecard-container .pricecard-column .pricecard-features ul li .fa-times{
	color: #f44336;
}

.pricecard-container .pricecard-column .pricecard-features ul li .fa-comments{
	color: #000;
}

.pricecard-container .pricecard-column a{
	text-decoration: none;
	padding: 10px 40px;
	background: #68f788;
	color: #fff;
	margin: 20px 0 10px;
	display: inline-block;
	border-radius: 40px;
	text-transform: uppercase;

}

.pricecard-container .pricecard-column:nth-child(2) .pricecard-title,
.pricecard-container .pricecard-column:nth-child(2) a{
	background: #ffd761;
}

.pricecard-container .pricecard-column:nth-child(3) .pricecard-title,
.pricecard-container .pricecard-column:nth-child(3) a{
	background: #ff7878;
}

#gold{
	color:#D4AF37;
}

#diamond{
	color: #b9f2ff;
}

#platinum{
	color: #e5e4e2;
}




/*----------------USER-HOME------------------*/


/*.user-details{
	display: flex;
	background: #673888;
	width: 100%;
	min-height: 200px;
	color: black;
	font-family: oswald;
}

.user-details .box1{
	display: block;
	padding: 15px;
}

.user-details.box1 img{
	display: block;
}

.user-details .box1 h3{
	text-align: center;
	font-weight: 900;
	color: white;
}

.user-details .box1 button{
	border: none;
	background: #ffffff35;
	border-radius: 15px;
	width: 180px;
	height: 30px;
	display: block;
	margin: auto;
	margin-top: 15px;
}

.user-details .box2{
	display: flex;
	flex-direction: column;
	width: calc(100%-10px);
	padding-left: 15px;
	box-sizing: border-box;
}

.user-details .box2 .details{
	font-size: 24px;

}


.user-details .box2 .details ol li{
	list-style: none;
	color: #ff375f;
	font-weight: 500;
	font-family: montserrat;
}

.user-details .box2 .details ol li span{
	font-weight: 500;
	color: white;
}

.user-details .box2 .buttons{
	display: inline-block;
	float: right;
}

.user-details .box2 button{
	width:150px;
	height: 30px;
	background: #ffffff35;
	border-radius: 50px;
	color: white;
	border:none;
	padding: 3px;
	margin-bottom: 15px;
}

.user-home-buttons{
	min-height: 200px;
	width: 100%;
	background: #67388850;
	display: block;
	float: right;
	overflow: auto;
	justify-content: space-between;
}

.user-home-buttons button{
	height: 300px;
	width: 300px;
	font-weight: 900;
	font-size: 30px;
	color: white;
	border: none;
	border-radius: 20px;
	margin:30px;
	padding:10px;

}

.user-home-buttons button:nth-child(1){
	background: #7fffd4;
}

.user-home-buttons button:nth-child(2){
	background: #d4af37;
}

.user-home-buttons button:nth-child(3){
	background: rgb(255,95,55);
}

.user-home-buttons button:nth-child(4){
	background: #ff7878;
}*/

