{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<section class="contact-container">
			<div class="contact-formbx">
				<form>
					<h2>Contact Us</h2>
					<div class="contact-inputbx">
						<input type="text" name="" required="required">
						<span>Full Name</span>
					</div>
					<div class="contact-inputbx">
						<input type="email" name="" required="required">
						<span>Email Address</span>
					</div>
					<div class="contact-inputbx">
						<textarea required="required"></textarea>
						<span>Type your query</span>
					</div>
					<div class="contact-inputbx">
						<input type="submit" value="Send" name="">
					</div>
				</form>
			</div>
			<div class="contact-imgbx">
			</div>
		</section>
	</div>
{% endblock body %}