{% extends "layout.html" %}
{% block embeddedcss %}
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
	<style type="text/css">
		*{
			box-sizing: border-box;
		}
		.container{
			min-height: calc(100vh);
			transition: .1s;
			background-repeat: repeat; 
			background: url({{ url_for('static', filename='email-pattern.png') }});
		}

		.container#blur.active{
			filter: blur(7px);
			transition: 0.1s;
			pointer-events: none;
			user-select: none;
		}

		.container-mid{
			width: 60%;
			min-height: 100vh;
			position: relative;
			background-color: #ffffff85; 
			/*margin: 0 auto;*/
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 30px;
			box-sizing: border-box;
		}
		@media only screen and (orientation: portrait){
			.container-mid{
				width: 100%;
			}
		}
		.container-mid section:nth-child(1){
			margin:20px auto;
			width: 100%;
			/*text-align: center;*/
			padding: 0 25px;
			box-sizing: border-box;
		}
		.container-mid section:nth-child(1) h1{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 25px;
		}
		
		.container-mid section:nth-child(1) button{
			box-sizing: border-box;
			margin-top: 20px; 
			font-size: 16px;
			padding: 10px;
			color: #ff738f;
			text-decoration: none;
			background: #f2f2f2;
			border:1px solid black;
		}

		.container-mid section:nth-child(2){
			border-top: 1px solid #00000040;
			margin:20px auto;
			padding: 10px 25px;
		}

		.container-mid section:nth-child(2) h2{
			font-weight: 600;
			font-size: 1.2em;
		}
		
		}
	</style>
{% endblock embeddedcss %}

{% block body %}
	
	<div class="container" id="blur">
		<div class="container-mid">
			<section>
				<h1>Create Assignment</h1>
				<p>Enter the following details to create the Assignment for the targetted class.</p>
			</section>
			<section>
				<h2>Assignment Details</h2>			
				<form method="POST" enctype="multipart/form-data">
					<fieldset>
						<br>
						<label for="testname">Testname:</label>
						<input type="text" name="testname">
						<br>
						<label for="class">Class:</label>
						<select name="class">
							{% for class in eval(teacher['classeshandled']) %}
								<option>{{ class }}</option>
							{% endfor %}
						</select>
						<br>
						<label for="qpupload">Upload the Question Paper (PDF):</label>
						<input placeholder="Upload QP" type="file" name="qpupload" accept=".pdf">
						<br>
						<input type="submit" name="submit" value="Create Assignment">
					</fieldset>
				</form>
			</section>
		</div>
	</div>
		
{% endblock body %}