{% extends "layout.html" %}
{% block embeddedcss %}
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
	<style type="text/css">
		*{
			box-sizing: border-box;
		}
		.container{
			display: flex;
			flex-direction: column;
			min-height: calc(110vh);
			transition: .1s;
			background-repeat: repeat;
			background: url({{ url_for('static', filename='email-pattern.png') }});
		}

		.container#blur.active{
			filter: blur(7px);
			transition: 0.1s;
			pointer-events: none;
			user-select: none;
		}

		.container-mid{
			width: 60%;
			min-height: 110vh;
			position: relative;
			background-color: #ffffff85;
			/*margin: 0 auto;*/
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 30px;
			box-sizing: border-box;
		}

		@media only screen and (orientation: portrait){
			.container-mid{
				width: 100%;
			}
			.container-mid section:nth-child(1) h1{
				font-size: 100px;
			}
		}

		.container-mid section:nth-child(1){
			margin:20px auto;
			width: 100%;
			/*text-align: center;*/
			padding: 0 25px;
			box-sizing: border-box;
		}
		.container-mid section:nth-child(1) h1{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 25px;
		}

		.container-mid section:nth-child(1) button{
			box-sizing: border-box;
			margin-top: 20px;
			font-size: 16px;
			padding: 10px;
			color: #ff738f;
			text-decoration: none;
			background: #f2f2f2;
			border:1px solid black;
		}

		.container-mid section:nth-child(2){
			position: relative;
		}

		.container-mid section:nth-child(2) form{
			padding:10px 0;
			margin: 15px 0;
			position: relative;
		}

		.container-mid section:nth-child(2) fieldset{
			padding:10px;
			margin: 15px;

		}

		.container-mid section:nth-child(2) input{
			margin:10px 0;
			padding: 10px 5px;
			border:1px solid #ff738f;

		}

		input[type=submit]{
			cursor: pointer;
		}

		.container-mid section:nth-child(2) h2{
			font-weight: 600;
			font-size: 1.2em;
		}

		.container-mid section:nth-child(2) h2{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 28px;
			margin: 25px 0;
			/*text-decoration: underline;			*/
		}

		label{
			font-weight: bold;
		}

		form{
			margin:10px 0px;
			border:none;
		}

		fieldset{
			margin: 10px ;
			border:none;
			height: 30px;
		}


		#assuploadbutt{
			background: #fff;
			padding: 10px 20px;
			margin-top: 30px;
			border:2px solid #ff738f;
			border-radius: 10px;
			box-shadow: 0 5px 10px #00000030;
			font-weight: bold;
			color: #ff738f;
			transition: .2s;
			cursor: pointer;
		}

		#assuploadbutt:hover{
			transform: scale(1.01);
			transition: .2s;
			background: #00000010
		}

		#assuploadbutt.active{
			background-color: #ff738f;
			border:2px solid #fff;
			color: #fff;
		}

		#assuploadbutt span{
			font-weight: normal;
		}

		#submit{
			background: #fff;
			padding: 10px 20px;
			margin-top: 30px;
			border:2px solid #ff738f;
			border-radius: 10px;
			box-shadow: 0 5px 10px #00000030;
			font-weight: bold;
			color: #ff738f;
			transition: .2s;
			cursor: pointer;
		}

		#submit:hover{
			background: #00000010;
			transition: .2s;
		}

	</style>
{% endblock embeddedcss %}

{% block body %}

	<div class="container" id="blur">
		<div class="container-mid">
			<section>
				<h1>Answer Sheet Viewer</h1>
				{% if not mark %}
					<p>You can view the answer sheet and fill in the marks at the end of the page</p>
				{% endif %}
				{% if mark %}
					<p>You have already corrected the answer sheet of this student.</p>
					<p>The student scored: <span>{{ mark }}</span> </p>
				{% endif %}
			</section>
			<section>
				<h2>PDF</h2>
				<embed src="{{ url_for('static', filename=f'/answersheets/{filename}') }}" type="application/pdf" width="100%" height="800px"></embed>
				<br>
				{% if not mark %}
				<form method="POST">
					<fieldset>
						<!-- <h2>Enter Marks</h2> -->
						<label for="marks"> Enter Marks</label>
						<br>
						<input type="text" id='marks' name="marks" placeholder="Enter Marks (Eg. '12/25')">
						<br>
						<input type="textarea" name="remark" placeholder="Enter your remarks here">
						<br>
						<input type="submit" name="submit_marks">
						<!-- now we gotta tke this mark and [Yah forgot that] -->
					</fieldset>
				</form>
				{% endif %}
			</section>
		</div>
	</div>
{% endblock body %}
