<html>
<head>
	<title>Hello world</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="container">
		<div class="Menu">
				<ul>
					<li class="active">Home</li>
					<li>About</li>
					<li>Pricing</li>
					<li>Contact</li>
					<!--<div class="menu-btns">
						<li class="login-btn">Login</li>
						<li class="register-btn">Register</li>-->
					</div>
				</ul>
				<div class="menu-btns">
						<ul>
							<li class="login-btn"> <button type="button" onclick="window.location.href='{{ url_for('register') }}';">Login</button></li>
							<li class="register-btn"><<button type="button" onclick="window.location.href='{{ url_for('register') }}';">Register</button>></li>
						</ul>	
				</div>
		</div>
	</div>
</body>
</html>