<html>
<head>
	{% if title %}
		<title>M N G E | {{ title }}</title>
	{% else %}
		<title>M N G E</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% block embeddedcss %}
	{% endblock embeddedcss %}
</head>



<nav class="Menu">
	<input type="checkbox" id="check">
	<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
	</label>
	<label class="logo"><a href="{{ url_for('home') }}">M N G E</a></label>
	<ul>
		{% if not current_user.is_authenticated %}
			<li><a href="{{ url_for('home') }}" id="active">Home</a></li>
		{% endif %}
		<li><a href="{{ url_for('about') }}">About</a></li>
		<li><a href="{{ url_for('pricing') }}">Pricing</a></li>
		<li><a href="{{ url_for('contact') }}">Contact</a></li>
		{% if current_user.is_authenticated %}
			<li><button type="button" onclick="window.location.href='{{ url_for('user_home') }}';">Profile</button></li>
			<li> <button type="button" onclick="window.location.href='{{ url_for('logout') }}';">Logout</button></li>
		{% else %}
			<li> <button type="button" onclick="window.location.href='{{ url_for('login') }}';">Login</button></li>
			<li><button type="button" onclick="window.location.href='{{ url_for('register') }}';">Register</button></li>
		{% endif %}
	</ul>
</nav>

<body>
	{% block body %}
	{% endblock body %}

</body>

{% if not footer %}
	<footer style="position:relative;bottom:0;background-color: #404040;width: 100%;text-align: center;color: white;padding: 10px 0;">
		<h3>M N G E &nbsp; X &nbsp; KVHVF</h3>
		<p>An initiative of Kendriya Vidyala HVF and M N G E</p>
		<p>Contact: +91-94980-46382</p>
	</footer>
{% endif %}
</html>
