{% extends "layout.html" %}
{% block embeddedcss %}
	<style type="text/css">
		body{
			display: block;
		}
		.container{
			position: absolute;
			top:70px;
			background: url({{ url_for('static', filename='Untitled-1.jpg') }}) no-repeat;
			background-size: cover;
		}
	</style>
{% endblock embeddedcss %}
{% block body %}
	<section class="container">

		<!--img src="D:\I'm a Developer\Web designing\Project2\static\Untitled-1.jpg"-->
		<section class='login-box'>

			<form method="POST">
				{{ form.hidden_tag() }}
				<fieldset>
					<h1>Student login</h1>
					<i class="fas fa-hashtag"></i>
					{{ form.admission() }}<br><br>
					<i class="fas fa-lock"></i>
					{{ form.password() }}<br><br>
					{{ form.submit(id = 'registerbtn') }}
					<button type="button" id="registerbtn" onclick="window.location.href='{{ url_for('tlogin') }}';">Not a student? Click here</button>
				</fieldset> 
			</form>
		</section>	
	</section>	
{% endblock body %}