{% extends "layout.html" %}
{% block embeddedcss %}
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style type="text/css">
		.txtanim-container div:nth-child(1){
	position: relative;
	width: 50%;
	background: url({{ url_for('static', filename='pricing.jpg') }});
	overflow: hidden;
	background-size:cover;
}
	</style>
{% endblock embeddedcss %}

{% block body %}
	<div class="container">
		<section class="txtanim-container">
			<div>
				<h2>Pricing for MNGE. Support your school digitally, with MNGE</h2>
			</div>
			<div>
				<h2>Pricing for MNGE. Support your school digitally, with MNGE</h2>
			</div>
		</section>

		<section class="pricecard-container">
			<div class="pricecard-column">
				<div class="pricecard-title">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
					<h2>Basic</h2>
				</div>

				<div class="pricecard-features">
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Propagatory website</li>
						<li><i class="fa fa-times" aria-hidden="true"></i>
Record mgmt system</li>
						<li><i class="fa fa-times" aria-hidden="true"></i>
Fee collection</li>
						<li><i class="fa fa-times" aria-hidden="true"></i>
Online tests</li>
						<li><i class="fa fa-times" aria-hidden="true"></i>
Online admission</li>
						<li><i class="fa fa-comments" aria-hidden="true"></i>
Tech Support: <span id="gold">GOLD</span></li>
					</ul>
				</div>
				<a href="#">Check Price</a>
			</div>
			<!-- ----------Moderate-------------------- -->
			<div class="pricecard-column">
				<div class="pricecard-title">
					<i class="fa fa-plane" aria-hidden="true"></i>
					<h2>Standard</h2>
				</div>
				
				<div class="pricecard-features">
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Propagatory website</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Record mgmt system</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Fee collection</li>
						<li><i class="fa fa-times" aria-hidden="true"></i>
Online tests</li>
						<li><i class="fa fa-times" aria-hidden="true"></i>
Online admission</li>
						<li><i class="fa fa-comments" aria-hidden="true"></i>
Tech Support: <span id="diamond">DIAMOND</span></li>
					</ul>
				</div>
				<a href="#">Check Price</a>
			</div>
			<!-- ----------Premium----------------------- -->
			<div class="pricecard-column">
				<div class="pricecard-title">
					<i class="fa fa-rocket" aria-hidden="true"></i>
					<h2>Premium</h2>
				</div>
				
				<div class="pricecard-features">
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Propagatory website</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Record mgmt system</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Fee collection</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Online tests</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
Online admission</li>
						<li><i class="fa fa-comments" aria-hidden="true"></i>
Tech Support: <span id="platinum">PLATINUM</span></li>
					</ul>
				</div>
				<a href="#">Check Price</a>
			</div>			
		</section>
	</div>
{% endblock body %}