{% extends "layout.html" %}
{% block embeddedcss %}
	<style type="text/css">
		body{
			display: block;
		}
		.container{
			position: absolute;
			height: 100%;
			background: url({{ url_for('static', filename='Untitled-1.jpg') }}) no-repeat;
			background-size: cover;
		}
	</style>
{% endblock embeddedcss %}

{% block body %}
	<section class="container", style="height: 100%;">

		<!--img src="D:\I'm a Developer\Web designing\Project2\static\Untitled-1.jpg"-->
		<section class='login-box'>
            {% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category,message in messages %}
					    <div class='flash'>
						    {% if category == 'success' %}
								<div class="flash flash-{{ category }}">
								<h3><i class="fas fa-check"></i> &nbsp; {{ message }}</h3>
								</div>
							{% endif %}
							{% if category == 'fail' %}
								<div class="flash flash-{{ category }}">
								<h3><i class="fas fa-times"></i> &nbsp; {{ message }}</h3>
								</div>
                            {% endif %}

						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% if form.email.errors %}
                <div class="flash">
                    {% for error in form.email.errors %}
                        <div class='flash-fail'>
                        <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% elif form.admission.errors %}
                <div class="flash">
                    {% for error in form.admission.errors %}
                        <div class='flash-fail'>
                        <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
			<form method="POST">
				{{ form.hidden_tag() }}
				<fieldset>
					<h1>Student register</h1>
					<i class="fas fa-hashtag"></i>
					{{ form.admission() }}<br><br>
					<i class="fas fa-calendar-day"></i>
					{{ form.dob() }}<br><br>
					<i class="fas fa-envelope"></i>
					{{ form.email() }}<br><br>
					<i class="fas fa-lock"></i>
					{{ form.password() }}<br><br>
					<i class="fas fa-user-lock" id="re-pwd-icon"></i>
					{{ form.confirmpassword() }}<br><br>
					<!-- <button type="button" id="registerbtn" onclick="window.location.href='{{ url_for('register') }}';">Register</button>&nbsp; -->
					{{ form.submit(id='registerbtn') }}
					<br>
					<a href="{{ url_for('tregister') }}";>Not a student? Click here</a>
				</fieldset>
			</form>
		</section>
	</section>
{% endblock body %}