{% extends "layout.html" %}
{% block embeddedcss %}
	<style type="text/css">
		body{
			display: block;
		}
		.container{
			position: relative;
			background: url({{ url_for('static', filename='Untitled-1.jpg') }}) no-repeat;
			background-size: cover;
		}
	</style>
{% endblock embeddedcss %}

{% block body %}
	<section class="container">

		<!--img src="D:\I'm a Developer\Web designing\Project2\static\Untitled-1.jpg"-->
		<section class='login-box'>

			<form method="POST">
				{{ form.hidden_tag() }}
				<fieldset>
					<h1>Student register</h1>
					<i class="fas fa-hashtag"></i>
					{{ form.admission() }}<br><br>
					<i class="fas fa-calendar-day"></i>
					{{ form.dob() }}<br><br>
					<i class="fas fa-envelope"></i>
					{{ form.email() }}<br><br>
					<i class="fas fa-lock"></i>
					{{ form.password() }}<br><br>
					<i class="fas fa-user-lock" id="re-pwd-icon"></i>
					{{ form.confirmpassword() }}<br><br>
					<!-- <button type="button" id="registerbtn" onclick="window.location.href='{{ url_for('register') }}';">Register</button>&nbsp; -->
					{{ form.submit(id='registerbtn') }}
					<button type="button" id="registerbtn" onclick="window.location.href='{{ url_for('tregister') }}';">Not a student? Click here</button>
				</fieldset> 
			</form>
		</section>	
	</section>	
{% endblock body %}