{% extends "layout.html" %}
{% block embeddedcss %}
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
	<style type="text/css">
		*{
			box-sizing: border-box;
		}
		.container{
			min-height: calc(100vh);
			transition: .1s;
			background-repeat: repeat; 
			background: url({{ url_for('static', filename='email-pattern.png') }});
		}

		.container#blur.active{
			filter: blur(7px);
			transition: 0.1s;
			pointer-events: none;
			user-select: none;
		}

		.container-mid{
			width: 60vw;
			min-height: 100vh;
			position: relative;
			background-color: #ffffff85; 
			/*margin: 0 auto;*/
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 30px;
			box-sizing: border-box;
		}
		.container-mid section:nth-child(1){
			margin:20px auto;
			width: 100%;
			/*text-align: center;*/
			padding: 0 25px;
			box-sizing: border-box;
		}
		.container-mid section:nth-child(1) h1{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 25px;
		}
		
		.container-mid section:nth-child(1) a button{
			box-sizing: border-box;
			margin-top: 20px; 
			font-size: 16px;
			padding: 10px;
			color: #ff738f;
			text-decoration: none;
			background: #f2f2f2;
			border:1px solid black;
		}

		.container-mid section:nth-child(2){
			border-top: 1px solid #00000040;
			margin:20px auto;
			padding: 10px 25px;
		}

		.container-mid section:nth-child(2) h2{
			font-weight: 600;
			font-size: 1.2em;
		}

		.container-mid section:nth-child(2) table{
			border-collapse: collapse;
			width: 100%;
			background: #f2f2f2;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			box-shadow: 0 0 20px #00000015;
		}

		.container-mid section:nth-child(2) table thead tr{
			text-align: left;
			font-weight: 700;
			color: #fff;
			background-color: #ff738f;
		}

		.container-mid section:nth-child(2) table th,.container-mid section:nth-child(2) table td{
			padding: 12px 25px;
		}

		.container-mid section:nth-child(2) table tbody tr{
			border-bottom: 1px solid #ddd;
		}

		.container-mid section:nth-child(2) table tbody tr:last-of-type{
			border-bottom: 2px solid #ff738f;
		}

		.container-mid section:nth-child(2) table tr:nth-child(even){
			background-color:#e5e5e5; 
		}

		.container-mid section:nth-child(2) h2{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 28px;
			margin: 25px 0;
			/*text-decoration: underline;			*/
		}

		#popup-ass, #popup-det{
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 40vw;
			padding: 50px;
			box-shadow: 0 5px 30px rgba(0,0,0,.30); 
			background: #fff;
			box-sizing: border-box;
			visibility: hidden;
			opacity: 0;
			transition: .5s;

		}
		#popup-ass h2, #popup-det h2{
			margin-bottom: 10px;
		}
		#popup-ass.active, #popup-det.active{
			top: 50%;
			visibility: visible;
			opacity: 1;
			transition: .5s;
		}
	</style>
{% endblock embeddedcss %}

{% block body %}
	
	<div class="container" id="blur">
		<div class="container-mid">
			<section>
				<h1>Home Assignment</h1>
				<p>Welcome to the Home Assignment section. Click on the below button to create a new assignment</p>
				<a href="#"><button onclick="toggleass()">Create Assignment</button></a>
			</section>
			<section>
				<h2>Previous assignments</h2>			
				<table>
					<thead>
						<tr>
							<th>Serial</th>
							<th>Name</th>
							<th>Class</th>
							<th>Date</th>
							<th>Completion</th>
							<th>Correction</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Syllabels 1</td>
							<td>10A,10B</td>
							<td>21-06-2002</td>
							<td>12/42</td>
							<td><a href="#">Correct</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Grammar 1</td>
							<td>9A,9D</td>
							<td>18-06-2002</td>
							<td>36/41</td>
							<td><a href="#">Correct</a></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Passage 1</td>
							<td>10A,10B</td>
							<td>14-06-2002</td>
							<td>42/42</td>
							<td><a href="#">View details</a></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
	<div id="popup-ass">
		<h2>Create New Assignment</h2>
		<form method="POST" enctype="multipart/form-data">
			<fieldset>
				<input type="text" name="testname">
				<select>
					<option>10A</option>
					<option>10B</option>
					<option>10C</option>
					<option>10D</option>
					<option>11A</option>
				</select>

			</fieldset>
		</form>
		<a href="#" onclick="toggleass()">Close</a></li>
	</div>
	
	<script type="text/javascript">
		function toggleass(){
			var blur = document.getElementById('blur')
			blur.classList.toggle('active')
			var popup = document.getElementById('popup-ass')
			popup.classList.toggle('active')
		}
		function toggledet(){
			var blur = document.getElementById('blur')
			blur.classList.toggle('active')
			var popup = document.getElementById('popup-det')
			popup.classList.toggle('active')
		}
	</script>
{% endblock body %}