{% extends "layout.html" %}
{% block embeddedcss %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<style type="text/css">
		body{
			display: block;
		}
		.container{
			position: absolute;
			top:70px;
			background: url({{ url_for('static', filename='teacher.jpg') }}) no-repeat;
			background-size: cover;
		}
	</style>
{% endblock embeddedcss %}
{% block body %}
	<section class="container">

		<!--img src="D:\I'm a Developer\Web designing\Project2\static\Untitled-1.jpg"-->
		<section class='login-box'>
            {% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category,message in messages %}
					    <div class='flash'>
						    {% if category == 'success' %}
								<div class="flash flash-{{ category }}">
								<h3><i class="fas fa-check"></i> &nbsp; {{ message }}</h3>
								</div>
							{% endif %}
							{% if category == 'fail' %}
								<div class="flash flash-{{ category }}">
								<h3><i class="fas fa-times"></i> &nbsp; {{ message }}</h3>
								</div>
                            {% endif %}

						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form method="POST">
					{{ form.hidden_tag() }}
					<fieldset>
						<h1>Teacher login</h1>
						<i class="fas fa-hashtag"></i>
						{{ form.email() }}<br><br>
						<i class="fas fa-lock"></i>
						{{ form.password() }}<br><br>
						{{ form.submit(id = 'registerbtn') }}
						<br>
						<a href="{{ url_for('login') }}">Not a teacher? Click here</a>
						<!-- <button type="button" id="registerbtn" onclick="window.location.href='{{ url_for('tlogin') }}';">Not a student? Click here</button> -->
					</fieldset>
				</form>
		</section>
	</section>
{% endblock body %}