{% extends "layout.html" %}
{% block embeddedcss %}
	<style type="text/css">
		body{
			display: block;
		}
		.container{
			position: absolute;
			top:70px;
			background: url({{ url_for('static', filename='teacher.jpg') }}) no-repeat;
			background-size: cover;
		}
	</style>
{% endblock embeddedcss %}
{% block body %}
	<section class="container">

		<!--img src="D:\I'm a Developer\Web designing\Project2\static\Untitled-1.jpg"-->
		<section class='login-box'>

			<form method = 'POST'>
				{{ form.hidden_tag() }}
				<fieldset>
					<h1>Teacher register</h1>
					<i class="fas fa-at"></i>
					{{ form.name() }}<br><br>
					<i class="fas fa-hashtag"></i>
					{{ form.securitykey() }}<br><br>
					<i class="fas fa-envelope"></i>
					{{ form.email() }}<br><br>
					<i class="fas fa-lock"></i>
					{{ form.password() }}<br><br>
					<i class="fas fa-user-lock" id="re-pwd-icon"></i>
					{{ form.confirmpassword() }}<br><br>
					{{ form.submit(id='registerbtn') }}
					<button type="button" id="registerbtn" onclick="window.location.href='{{ url_for('register') }}';">Not a teacher? Click here</button>
				</fieldset> 
			</form>
		</section>	
	</section>	
{% endblock body %}