{% extends "layout.html" %}
{% block embeddedcss %}
	<style type="text/css">
		body{
			display: block;
		}
		.container{
			position: absolute;
			top:70px;
			background: url({{ url_for('static', filename='teacher.jpg') }}) no-repeat;
			background-size: cover;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chosen.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='chosen.jquery.min.js') }}"></script>
{% endblock embeddedcss %}
{% block body %}
	<section class="container">

		<!--img src="D:\I'm a Developer\Web designing\Project2\static\Untitled-1.jpg"-->
		<section class='login-box'>

			<form method = 'POST'>
				{{ form.hidden_tag() }}
				<fieldset>
					<h1>Teacher register</h1>
					<i class="fas fa-at"></i>
					<input type="text" name="name" placeholder="Name"><br><br>
					<i class="fas fa-hashtag"></i>
					<input type="text" name="securitykey" placeholder="Security Key"><br><br>
					<i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 30px;"></i>
					<select id="mselect" multiple="" style="width: 25vw;">
						<optgroup label="10th Std">
							<option>10 A</option>
							<option>10 B</option>
							<option>10 C</option>
							<option>10 D</option>
						</optgroup>
						<optgroup label="11th Std">
							<option>11 A</option>
							<option>11 B</option>
						</optgroup>
						<optgroup label="12th Std">
							<option>12 A</option>
							<option>12 B</option>
						</optgroup>
					</select><br><br>
					<i class="fa fa-book" aria-hidden="true"></i>
					<select>
						<option>Math</option>
						<option>English</option>
						<option>Physics</option>
						<option>Chemistry</option>
						<option>Biology</option>
						<option>Computer Science</option>
						<option>Economics</option>
						<option>Business Studies</option>
						<option>Accountancy</option>
						<option>Hindi</option>
						<option>Science</option>
						<option>Social Science</option>
						<option>Sanskrit</option>
					</select> <br><br>
					<i class="fas fa-envelope"></i>
					<input type="email" name="email" placeholder="Email"><br><br>
					<i class="fas fa-lock"></i>
					<input type="password" name="password" placeholder="Password"><br><br>
					<i class="fas fa-user-lock" id="re-pwd-icon"></i>
					<input type="password" name="confirmpassword" placeholder="Confirm Password"><br><br>
					<input type="submit" name="submit" id="registerbtn">
					<br>
					<a href="{{ url_for('register') }}";>Not a teacher? Click here</a>
				</fieldset> 
			</form>
		</section>	
	</section>	
	<script type="text/javascript">
		$(document).ready(function(){
			$('#mselect').chosen();
		})
	</script>
{% endblock body %}